.footer {
    background: $bg_light;
    height: 92vh;
    max-height: 92vh;
    color: #daa520be;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .footer-logo-container {
    align-self: center;
    text-align: center;
    @media (max-width: 600px) {
      padding-top: 10vh;
    }
  }
  
  .footer-logo {
    font-size: 2em;
  }
  
  .footer a:hover {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  
  .footer a {
    color: #daa520be;
  }
  
  .copyright-mention {
    font-size: 0.8em;
    text-align: center;
    margin: auto;
    align-self: baseline;
    padding: 10vh 2vw;
  }
  