#Navbar {
  .navbar-bg {
    background: $bg_light_nav;
    min-height: 8vh;
  }

  li {
    margin: 0;
    padding: 0 ;
    color: #DAA520;
  }

  ul {
    margin: 0;
    padding: 0 ;
    color: #DAA520;
  }

  .nav-link {
    @media (max-width: 600px) {
      text-align: center !important;
      margin: 1.5vh 0;
    }
  }
}

