#projets {
  .projectCard {
    background-color: #ffffff1d;
    border-color: #333;
  }

  em {
    font-style: italic;
    font-size: 1rem;
  }
  li {
    font-size: 0.85rem;
    list-style-type: disc;
    // margin: 0 0 0 1.5vw;
  }
  .linkSection {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    color: #DAA520;
    :hover {
      color: #b885054f;
      text-decoration: none;
    }
  }
  a {
    font-family: Lato;
    margin: 0 auto;
    text-align: center;
    color: #DAA520;
  }

  h5 {
    font-family: Lato;
    text-transform: uppercase;
    margin-top: 2vh;
  }
  h6 {
    font-family: Lato;
    font-style: italic;
  }
}
