@import "variables";
// @import "reset";
@import "header";
@import "navbar";
@import "timeline";
@import "footer";
@import "projets";

html {
  scroll-behavior: smooth;
}

.App {
  background: $bg_dark;
  color: lightgrey;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.section {
  padding: 5vh 0;
}
.section-titles {
  font-size: 2.5em;
  text-align: center;
  padding: 7vh 5vw 3vh 5vw;
  text-transform: uppercase;
  margin: 2vh 0;
}

p,
ul,
li {
  font-family: "Roboto Mono", monospace;
}

ul{
  padding-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}





// /* EXPERIENCE SECTION */



// .experience-item {
//   padding: 2vh 2vw;
//   margin: 2vh 0;
//   border-radius: 3px;
//   background-color: #ffffff1d;
// }

// .experience-header {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   align-items: center;
// }

// .experience-header h3 {
//   font-size: 1.5em;
// }

// .experience-header h4 {
//   font-size: 1.3em;
// }

// .experience-logo {
//   border-radius: 50%;
//   margin: 1vh 1vw;
// }
// .experience-title {
//   display: inline-block;
//   margin: 2vh 1vw;
// }

// .experience-details {
//   padding-bottom: 1vh;
// }

// .experience-details a {
//   font-weight: bold;
//   color: lightgrey;
// }

// .experience-details a:hover {
//   font-weight: bolder;
//   color: rgb(65, 214, 214);
//   text-decoration: none;
// }

// /* FORMATION SECTION */

// .formation-item {
//   padding: 2vh 2vw;
//   margin: 0 0 5vh 0;
//   border-radius: 3px;
//   background-color: #ffffff1d;
// }

// .formation-logo {
//   border-radius: 50%;
//   margin: 1vh 1vw;
// }

// .formation-header {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   align-items: center;
// }

// .formation-title {
//   display: inline-block;
//   margin: 1vh 1vw;
// }

// .formation-details {
//   margin: 1vh 1vw;
// }

// .formation-header h3 {
//   font-size: 1.5em;
// }
// .formation-header h5 {
//   font-size: 1.1em;
// }
/* CONTACT SECTION */

// .form-container {
//   display: flex;
//   flex-direction: column;
//   max-width: 600px;
//   align-content: center;
//   margin: 0 auto;
//   font-family: "Roboto Mono", monospace;
//   padding: 0 0 10vh 0;
// }

// .form-button {
//   max-width: 200px;
//   align-self: center;
//   margin: 3vh 3vw;
//   padding: 1vh 2vw;
//   color: lightgrey;
//   border-radius: 3px;
//   background-color: #ffffff1d;
//   border: none;
// }

// .form-button:hover {
//   color: rgb(36, 32, 32);
//   background-color: lightgrey;
// }

